body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1e29;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.generator-container {
    display: flex;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    gap: 100px;
    align-items: center;
}

/* The Frame holding the avatar layers */
.avatar-preview {
    position:relative;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    border: 4px solid #e0e0e0;
    align-items: center;
}

/* Force all SVG layers to stack identically on top of each other */
.avatar-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-layer svg {
    width: 100%;
    height: 100%;
}

/* Simple control layout styling */
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.control-group {
    margin-bottom: 20px;
}

.control-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #0056b3;
}

:root{
    --body-color: #e07a5f;
}
